

form{
  margin : 100px 350px 0 350px;
  color: $textColor;

  label{

    color: $textColor;
  }
  button {
    background-color: $btnColor;
    &:hover {
      background-color: #d2fafb;
    }
  }

}

button{

  color: #2c003e;
  padding: 5px 20px 5px 10px;
  text-align: center;
  border-radius: 5px;

}

